@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --cor-principal:#d56ea7;
    --cor-secundaria:#e387c0;
    --cor-texto:#f19fd8;
    --cor-de-fundo:#ffb8f1;
    --font: "Playfair Display", serif; 
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-texto);
    text-align: center;
}
cabecalho__titulo{
    font-size: 2rem;
    color: var(--cor-principal);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-secundaria);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}
nav a :hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1;
}